.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 0;
}

.particles-container canvas {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

