name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  scaffold-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Display structure
        run: |
          ls -R | head -100
